.recommended-friends {
  padding: 20px 0px;
  border-top: var(--main-border);
  border-bottom: var(--main-border);
}

.recommended-friends__title {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.4);
}

.recommended-friends span {
  margin: 110px 0;
  display: block;
  text-align: center;
}

.open-chat__header {
  display: flex;
  justify-content: space-between;
  opacity: 0.8;
  margin-bottom: 25px;
}

.open-chat__header span {
  opacity: 0.6;
}

.open-post {
  display: flex;
}

.open-post__title {
  font-weight: 600;
  margin-bottom: 7px;
}

.open-chat__title,
.open-chat__header span {
  margin-top: 7px;
}
.open-post__hashtags {
  text-transform: uppercase;
}

.open-post__members {
  margin-top: 7px;
  display: flex;
  align-items: center;
}
.open-post__members img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 5px;
}

.open-post__members-count {
  font-size: 14px;
}

.open-post__members .divider {
  width: 1px;
  height: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  margin: 0 5px;
}

.open-post__member-status {
  color: #ffb0e0;
}

.open-post__photo img {
  width: 120px;
  height: 120px;
  border-radius: 10%;
}

/*★중요 자식인 heart-count에서 posion absolute를 쓰려면
부모가 relatice 상태여야 하지 !*/
.open-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.open-post__heart-count {
  background-color: rgba(0, 0, 0, 0.5);
  text: white;
  padding: 5px;
  position: absolute;
  border-radius: 20px;
  align-items: center;
  bottom: 10px;
  right: 10px;
  color: white;
  font-size: 12px;
}

.open-post__heart-count span {
  margin-left: 3px;
}
