#login-form {
  display: flex;
  flex-direction: column;
  margin: 0px 30px;
}

#login-form input {
  padding: 15px 0px;
  font-size: 18px;
  border: none;
  text-align: center;
  margin-bottom: 25px;
}

#login-form input:not([type="submit"]) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  transition: border-color 0.6s ease-in-out;
}
#login-form input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

#login-form input:focus {
  border-color: var(--blue);
}

#login-form input[type="submit"] {
  background-color: var(--blue);
  cursor: pointer;
  padding: 20px 0px;
  border-radius: 10px;
}

#login-form a {
  text-align: center;
  text-decoration: none;
  font-size: 13px;
  color: inherit;
}
